/* h1{
    font-family: ivyora-display, serif;
} */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    /* width: 500px; */
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.img-map{
    object-fit: contain;
}
