.logoImage {
    /* width: 120px;
    height: 80px;
    margin-top: 15px; */
    width: 120px;
    height: 74px;
    margin-left: 20px;
}
.ul-custom {
    list-style: none;
}
.cursor-pointer {
    cursor: pointer;
}
.custom-opacity {
    visibility: hidden;
}
.smallfont {
    font-size: 13px;
}

.verySmallFont {
    font-size: 12px;
}

.mediumfont {
    font-size: 16px;
}
.button-all{
    border: none; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 13px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
    border-radius: 50px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .button-all:hover {
    transform: translateY(-5px); 
  }