@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600&display=swap");

:root {
	--body-color: #2c2d2a;
	--savanna-bg: #e9bf8b;
	--beach-bg: #e7dfcf;
	--glacier-bg: #b6d6c8;
	--coral-bg: #e86357;
	--arrow-fill: #333231;
	--body-font: "Montserrat", sans-serif;
	--italic-font: "EB Garamond", serif;
}

* {
	box-sizing: border-box;
	outline: none;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: var(--body-color);
}

h1, h2, h3 {
	margin: 0;
}

body {
	font-family: var(--body-font);
	background-color: #1d1e20;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	max-width: 100%;
	width: 100vw;
	height: 100vh;
	background-color: var(--beach-bg);
}

.main {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}

.left-side {
	flex: 1 1 0;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--body-color);
	background-color: var(--beach-bg);
}

.main-wrapper {
	max-width: 60%;
}

.main-header {
	font-family: var(--italic-font);
	font-weight: 500;
	font-size: clamp(2rem, 2vw + 1rem, 3.6rem);
	color: var(--body-color);
}

.main-title {
	font-family: var(--body-font);
	font-weight: 600;
	font-size: clamp(4rem, 4vw + 1rem, 8rem);
	color: var(--body-color);
}

.main-subtitle {
	font-family: var(--italic-font);
	font-weight: 600;
	font-size: clamp(2rem, 2vw + 1rem, 4rem);
	color: var(--body-color);
}

.main-content {
	padding-top: 40px;
	font-family: var(--body-font);
	font-size: clamp(1.5rem, 1.5vw + 1rem, 2.2rem);
}

.main-content__title {
	font-weight: 600;
	line-height: 1.4;
}

.main-content__subtitle {
	padding-top: 1rem;
	font-weight: 400;
	line-height: 1.6;
}

.more-menu {
	margin-top: 2rem;
	padding-bottom: 1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.more-menu svg {
	padding-left: 1rem;
}

.center {
	position: relative;
	width: 100%;
}

.right-side__img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottle-img {
	position: absolute;
	max-width: 40%;
	left: 15%;
}

.bottle-bg {
	position: absolute;
	right: 0;
	object-fit: cover;
	height: 100vh;
}

.swiper-pagination {
	color: var(--body-color);
	font-family: var(--body-font);
	font-size: 14px;
	margin-top: 50px;
}

.swiper-pagination-current,
.swiper-pagination-total {
	font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
}

.button-wrapper {
	position: absolute;
	z-index: 50;
	bottom: 50%;
	left: 5%;
}

.swiper-button {
	position: absolute;
	cursor: pointer;
}

.swiper-prev-button {
	transform: rotate(180deg);
	top: 50%;
	left: 5%;
}

.swiper-next-button {
	top: 50%;
	left: 10%;
}

body[data-sld="0"] .container {
	background-color: var(--beach-bg);
}

body[data-sld="1"] .container {
	background-color: var(--savanna-bg);
}

body[data-sld="2"] .container {
	background-color: var(--glacier-bg);
}

body[data-sld="3"] .container {
	background-color: var(--coral-bg);
}
