.flex-follow {
  justify-content: center;


}
.smallfont {
  font-size: 15px;
}

.footer_logo {
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  .flex-follow {
    justify-content: start;
  }

  .smallfont {
    font-size: 11px;
  }

  .footer_logo {
    margin-left: 4rem;
  }
}
.logoImage-footer-marque {
  /* width: 100px; 
  height: 100px;  */
  object-fit: contain; 
}
.footer-background {
  background-image: url("/public/first-section.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width: 650px) {}