.vict-text {
    font-size: 100px;
    
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    line-height: 70px;
  }
  .slider-text{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #FEFFE4;

  }
  .header-image-heading{
    color: #FEFFE4;
    font-family: auto;
  }
  .arrow-img{
    width: 100px;
  }
  .slick-center .card-img-top {
    height: 200px !important; /* Adjust this value as needed */
  }
  
  

  .contact_heading{
    font-size:35px,
  
  
}
.latest_event{
    right: 10%;
    bottom:0;
}
.slick-prev,
.slick-next {
  display: none;
  visibility: hidden;
}
.zoom-container {
  overflow: hidden;
  position: relative;
  display: inline-block; /* Ensure it fits the content */
}

.zoom-container img {
  transition: height 0.5s ease, transform 0.5s ease;
  height: 300px; /* Set initial height */
  object-fit: cover; /* Prevents distortion by cropping */
  width: 100%; /* Ensure it fills the container */
}

.zoom-container:hover img {
  height: 400px; /* Increase height on hover */
}
.social-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
  flex-wrap: wrap;
  color: white;
}
.fs-innovate{
  font-size: 60px;
}
 
@media (max-width: 480px) {
  .fs-innovate{
    font-size: 18px;
  }
  .social-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    flex-wrap: wrap;
    color: white;
  }

}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .contact_heading{
        font-size:50px
    }
    .latest_event{
        right:20%;
        bottom:-2%;
    }
    .vict-text {
      font-size: 100px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      line-height: 90px;
    }
    .flex-item{
      display:flex
    }
}


  